<!DOCTYPE html>
<html>
<head>
  <title>Expense Rejected</title>
</head>
<body>
  <h1>Your expense has been rejected!</h1>
  <p>Expense details:</p>
  <ul>
    <li>Expense_id:<%= @expense.id %></li>
    <li>Amount: <%= @expense.amount %></li>
    <li>Description: <%= @expense.description %></li>

  </ul>
</body>
</html>
