<!DOCTYPE html>
<html>
<head>
  <title>Expense Approval</title>
</head>
<body>
  <h1>Your expense has been approved!</h1>
  <p>Details:</p>
  <ul>
    <li>Date: <%= @expense.date %></li>
    <li>Description: <%= @expense.description %></li>
    <li>Amount: <%= @expense.amount %></li>
  </ul>
</body>
</html>
